<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,116}}</string>
                <key>sourceSize</key>
                <string>{101,116}</string>
            </dict>
            <key>enemy_stick_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,120},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{18,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,89}}</string>
                <key>sourceSize</key>
                <string>{18,89}</string>
            </dict>
            <key>enemy_stick_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,120},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,231},{18,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,89}}</string>
                <key>sourceSize</key>
                <string>{18,89}</string>
            </dict>
            <key>enemy_stick_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,120},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,120},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{19,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,89}}</string>
                <key>sourceSize</key>
                <string>{19,89}</string>
            </dict>
            <key>enemy_stick_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,211},{18,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,89}}</string>
                <key>sourceSize</key>
                <string>{18,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:609bd4bee245d45a42c6a17082928700$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
