<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly__001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__004.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__005.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,133},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__008.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,133},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__009.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,133},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__010.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,133},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,264},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__013.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,264},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__014.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,264},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__015.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,264},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__017.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,395},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__018.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,395},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__019.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,395},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__020.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,395},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__022.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,526},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__023.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,526},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
            <key>fly__024.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,526},{188,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,129}}</string>
                <key>sourceSize</key>
                <string>{188,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4822cc82e0fa371fc65f33b84838d203$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
